<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{ form_start(form) }}
{{ form_widget(form.dateInvoice) }}
{{ form_widget(form.save) }}
{{ form_end(form) }}

</body>
</html>